<nav>
	<ul>
		<li>{{#if (eq pageId 'index')}}<span>Home</span>{{else}}<a href="/index.html">Home</a>{{/if}}</li>
		<li>{{#if (eq pageId 'psychotherapie')}}<span>Weg zur Psychotherapie</span>{{else}}<a href="/psychotherapie.html">Weg zur Psychotherapie</a>{{/if}}</li>
		<li>{{#if (eq pageId 'ueber-mich')}}<span>Über mich</span>{{else}}<a href="/ueber-mich.html">Über mich</a>{{/if}}</li>
		<li>{{#if (eq pageId 'kontakt')}}<span>Kontakt</span>{{else}}<a href="/kontakt.html">Kontakt</a>{{/if}}</li>
		<li>{{#if (eq pageId 'links')}}<span>Links</span>{{else}}<a href="/links.html">Links</a>{{/if}}</li>
	</ul>
</nav>
