<meta charset="utf-8">
{{#if pageTitle}}
<title>{{pageTitle}}</title>
{{else}}
<title>Silvia Mohadjer - Psychologische Psychotherapeutin und Psychoanalytikerin in Freiburg</title>
{{/if}}
{{#if pageDescription}}
<meta name="description" content="{{pageDescription}}">
{{else}}
<meta name="description" content="Silvia Mohadjer - Psychologische Psychotherapeutin und Psychoanalytikerin in Freiburg">
{{/if}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">