@charset "UTF-8";

/* app/resources/css/modules/settings.scss */
:root {
  --white: #fff;
  --black: #000;
  --blue: #06c;
  --grey: #999;
  --grey-dark: #666;
  --visited: #785598;
}

/* app/resources/css/modules/base.scss */
body {
  margin: 0;
  font:
    normal normal 1em/1em arial,
    verdana,
    sans-serif;
}
@media (min-width: 768px) {
  body {
    background: #fff;
  }
}
h4,
p,
ul,
h2 {
  margin-bottom: 0;
}
p:first-child {
  margin-top: 5px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 1.6em;
  }
}
li {
  margin-bottom: 10px;
}
a {
  text-decoration: none;
}
a:link {
  color: var(--blue);
}
a:visited {
  color: var(--visited);
}
a:hover {
  text-decoration: underline;
}
dl {
  margin-top: 5px;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin: 5px 0 0;
}
dl dd + dt {
  margin-top: 15px;
}
dl dd p:first-child {
  margin-top: 0;
}
h2,
p,
dd,
dt,
li {
  line-height: 1.35em;
}
h4 {
  font-size: 1.2em;
  margin-top: 30px;
}
@media (min-width: 768px) {
  h4 {
    font-size: 1.3em;
  }
}
h4 + * {
  margin-top: 5px;
}
@media (min-width: 768px) {
  h4 + * {
    margin-top: 10px;
  }
}

/* app/resources/css/modules/offcanvas.scss */
#menu {
  display: none;
}
@media (max-width: 767px) {
  .content {
    background: #fff;
    position: relative;
    left: 0;
    -webkit-transition: left 400ms ease 0s;
    transition: left 400ms ease 0s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
  #overall-wrapper {
    overflow-x: hidden;
  }
  #overall-wrapper .content {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  #menu {
    padding: 15px 10px;
    color: var(--white);
    background: #666;
    font-size: 1.1em;
    cursor: pointer;
    display: block;
  }
  #menu span {
    font-weight: bold;
    padding-left: 7px;
    background: url('data:image/svg+xml,<?xml version=\'1.0\' encoding=\'iso-8859-1\'?>%0A<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 24 24">%0A  <g fill="%23ffffff">%0A    <path d="M24,3c0-0.6-0.4-1-1-1H1C0.4,2,0,2.4,0,3v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V3z"/>%0A    <path d="M24,11c0-0.6-0.4-1-1-1H1c-0.6,0-1,0.4-1,1v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V11z"/>%0A    <path d="M24,19c0-0.6-0.4-1-1-1H1c-0.6,0-1,0.4-1,1v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V19z"/>%0A  </g>%0A</svg>%0A') no-repeat;
    background-size: 20px 20px;
    padding-left: 30px;
  }
  .off-left #menu span {
    background-image: url('data:image/svg+xml,<?xml version="1.0" encoding="iso-8859-1"?>%0D%0A<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->%0D%0A<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">%0D%0A<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"%0D%0A%09 width="95.939px" height="95.939px" viewBox="0 0 95.939 95.939" xml:space="preserve">%0D%0A%09<path fill="%23ffffff" d="M62.819,47.97l32.533-32.534c0.781-0.781,0.781-2.047,0-2.828L83.333,0.586C82.958,0.211,82.448,0,81.919,0%0D%0A%09%09c-0.53,0-1.039,0.211-1.414,0.586L47.97,33.121L15.435,0.586c-0.75-0.75-2.078-0.75-2.828,0L0.587,12.608%0D%0A%09%09c-0.781,0.781-0.781,2.047,0,2.828L33.121,47.97L0.587,80.504c-0.781,0.781-0.781,2.047,0,2.828l12.02,12.021%0D%0A%09%09c0.375,0.375,0.884,0.586,1.414,0.586c0.53,0,1.039-0.211,1.414-0.586L47.97,62.818l32.535,32.535%0D%0A%09%09c0.375,0.375,0.884,0.586,1.414,0.586c0.529,0,1.039-0.211,1.414-0.586l12.02-12.021c0.781-0.781,0.781-2.048,0-2.828L62.819,47.97%0D%0A%09%09z"/>%0D%0A</svg>%0D%0A');
    background-size: 16px;
    background-position: 0 1px;
    padding-left: 24px;
  }
  .off-left {
    background: #eee;
  }
  .off-left .content {
    left: 270px;
  }
}

/* app/resources/css/modules/article.scss */
article {
  border-bottom: solid 1px #ccc;
  padding-bottom: 20px;
  margin: 0 10px 20px;
}
@media (min-width: 768px) {
  article {
    width: 70%;
    margin-left: 20px;
  }
}
@media (min-width: 1064px) {
  article {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 300px;
  }
}
article:last-of-type {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  article:last-of-type {
    margin-bottom: 50px;
    border-bottom: none;
  }
}
article ul {
  padding-left: 0;
}
article ul li {
  margin-left: 18px;
}
article h4 + details {
  margin-top: 10px;
}
article h3 {
  margin-bottom: 0;
  margin-top: 20px;
}
article h3 + p {
  margin-top: 8px;
}
article details summary {
  cursor: pointer;
  margin-top: 12px;
  outline: none;
  padding-left: 18px;
  text-indent: -18px;
  font-weight: bold;
}
article details summary + p {
  margin-top: 5px;
}
article details summary ~ p {
  margin-left: 18px;
}
article details *:last-child {
  margin-bottom: 20px;
}

/* app/resources/css/modules/featured.scss */
.featured {
  width: 100%;
  max-width: 1600px;
  margin: 1em auto;
  overflow: hidden;
  background: #eee;
}
@media (min-width: 1024px) {
  .featured {
    padding-bottom: 0;
    height: 432px;
  }
}
@media (min-width: 1280px) {
  .featured {
    height: 500px;
  }
}
.featured img {
  width: 108%;
  vertical-align: top;
}
@media (min-width: 1024px) {
  .featured img {
    margin-top: -10%;
  }
}
@media (min-width: 1280px) {
  .featured img {
    margin-top: -15%;
  }
}
@media (min-width: 1600px) {
  .featured img {
    margin-top: -20%;
  }
}
.ueber-mich .featured {
  text-align: right;
}
.ueber-mich .featured img {
  margin-right: -24%;
  width: 100%;
  margin-top: 15px;
}
@media (min-width: 1024px) {
  .ueber-mich .featured img {
    margin-right: -15%;
    height: 100%;
    width: auto;
  }
}

/* app/resources/css/modules/header.scss */
header {
  margin: 10px 10px 25px;
  overflow: auto;
}
@media (min-width: 768px) {
  header {
    background: rgba(255, 255, 255, 0.85);
    margin: 75px 0 0;
    padding: 20px 30px 40px 20px;
    position: absolute;
    z-index: 100;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .ueber-mich header {
    width: 55%;
  }
}
@media (min-width: 1280px) {
  header {
    margin-top: 100px;
  }
}
@media (min-width: 1600px) {
  header {
    margin-left: calc((100% - 1600px) / 2);
  }
}
header p {
  font-size: 1.4em;
  line-height: 1em;
  margin-bottom: 0.1em;
  font-weight: bold;
  margin-top: 0.5em;
}
@media (min-width: 768px) {
  header p {
    font-size: 1.6em;
  }
}
header p span {
  display: block;
  font-size: 0.7em;
  margin-bottom: 0.1em;
}
@media (min-width: 768px) {
  header p span {
    font-size: 0.6em;
    margin-bottom: 0;
  }
}
header h1 {
  margin: 0;
  font-size: 0.85em;
  line-height: 1.25em;
  color: var(--black);
  font-weight: normal;
}
@media (min-width: 768px) {
  header h1 {
    font-size: 1em;
  }
  header h1 span {
    display: inline;
    font-size: 0;
  }
  header h1 span:before {
    content: "|";
    color: var(--grey);
    vertical-align: 1px;
    font-size: 18px;
  }
}

/* app/resources/css/modules/nav.scss */
nav {
  font-size: 0.9em;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow-y: auto;
}
@media (min-width: 768px) {
  nav {
    position: static;
    text-align: right;
    font-size: 1em;
    display: block;
    margin-right: 20px;
    padding: 10px 0 50px;
    width: auto;
  }
}
@media (min-width: 1064px) {
  nav {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}
nav ul {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  nav ul {
    float: right;
  }
}
nav ul li {
  list-style: none;
  margin-bottom: 0;
  cursor: default;
  text-decoration: none;
}
@media (min-width: 768px) {
  nav ul li {
    color: var(--black);
    text-decoration: none;
    cursor: default;
    float: left;
    margin-left: 20px;
  }
}
nav ul li span {
  font-weight: bold;
  background: #ccc;
}
@media (min-width: 768px) {
  nav ul li span {
    background: none;
  }
}
nav ul li a,
nav ul li span {
  padding: 13px 10px 13px 15px;
  display: block;
  font-size: 1.1em;
  border-bottom: solid 1px #aaa;
}
@media (min-width: 768px) {
  nav ul li a,
  nav ul li span {
    padding: 15px 0;
    border: none;
  }
}
nav ul li a {
  color: var(--grey-dark);
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  nav ul li a:hover {
    background: none;
    color: var(--black);
  }
}
nav ul li a:link,
nav ul li a:visited {
  color: var(--grey-dark);
}

/* app/resources/css/modules/hamburger.css */
.no-js header .hamburger {
  display: none;
}
header .hamburger {
  vertical-align: middle;
  padding: 0;
  touch-action: manipulation;
}
header .hamburger:focus {
  outline: none;
}
header .hamburger:hover {
  opacity: 1;
}
@media (min-width: 768px) {
  header .hamburger {
    display: none;
  }
}
header .hamburger .hamburger-inner,
header .hamburger .hamburger-inner::before,
header .hamburger .hamburger-inner::after {
  border-radius: 0;
}
header .hamburger .hamburger-box {
  width: 30px;
  display: block;
}
header .hamburger .hamburger-inner,
header .hamburger .hamburger-inner::before,
header .hamburger .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: black;
}

/* app/resources/css/modules/footer.scss */
footer {
  padding: 0 10px 20px;
  font-size: 0.8em;
  color: var(--grey-dark);
}
@media (min-width: 768px) {
  footer {
    border-top: solid 1px #ccc;
    padding: 15px 20px;
  }
}
footer a {
  text-decoration: underline;
  margin-right: 10px;
}
footer a:link,
footer a:visited {
  color: var(--grey-dark);
}
footer span {
  display: block;
  margin-top: 10px;
}
@media (min-width: 768px) {
  footer span {
    float: right;
    margin: 0;
  }
}

/* app/resources/css/styles.css */
