body {
  margin: 0;
  font: normal normal 1em/1em arial, verdana, sans-serif;
}
@media (min-width: 768px) {
  body {
    background: #fff;
  }
}

h4, p, ul, h2 {
  margin-bottom: 0;
}

p:first-child {
  margin-top: 5px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 1.6em;
  }
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}
a:link {
  color: #06c;
}
a:visited {
  color: #785598;
}
a:hover {
  text-decoration: underline;
}

dl {
  margin-top: 5px;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin: 5px 0 0;
}
dl dd + dt {
  margin-top: 15px;
}
dl dd p:first-child {
  margin-top: 0;
}

h2, p, dd, dt, li {
  line-height: 1.35em;
}

h4 {
  font-size: 1.2em;
  margin-top: 30px;
}
@media (min-width: 768px) {
  h4 {
    font-size: 1.3em;
  }
}
h4 + * {
  margin-top: 5px;
}
@media (min-width: 768px) {
  h4 + * {
    margin-top: 10px;
  }
}

#menu {
  display: none;
}

@media (max-width: 767px) {
  .content {
    background: #fff;
    position: relative;
    left: 0;
    -webkit-transition: left 400ms ease 0s;
    transition: left 400ms ease 0s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
  #overall-wrapper {
    overflow-x: hidden; /* to avoid horizontal swiping of page when offcanvas is visible */
  }
  #overall-wrapper .content {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); /* easeOutCubic */
  }
  #menu {
    padding: 15px 10px;
    color: #fff;
    background: #666;
    font-size: 1.1em;
    cursor: pointer;
    display: block;
  }
  #menu span {
    font-weight: bold;
    padding-left: 7px;
    background: url(../img/menu.svg) no-repeat;
    background-size: 20px 20px;
    padding-left: 30px;
  }
  .off-left #menu span {
    background-image: url(../img/cross.svg);
    background-size: 16px;
    background-position: 0 1px;
    padding-left: 24px;
  }
  .off-left {
    background: #eee; /* for offcanvas nav */
  }
  .off-left .content {
    left: 270px;
  }
}
article {
  border-bottom: solid 1px #ccc;
  padding-bottom: 20px;
  margin: 0 10px 20px;
}
@media (min-width: 768px) {
  article {
    width: 70%;
    margin-left: 20px;
  }
}
@media (min-width: 1064px) {
  article {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 300px;
  }
}
article:last-of-type {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  article:last-of-type {
    margin-bottom: 50px;
    border-bottom: none;
  }
}
article ul {
  padding-left: 0;
}
article ul li {
  margin-left: 18px;
}
article h4 + details {
  margin-top: 10px;
}
article h3 {
  margin-bottom: 0;
  margin-top: 20px;
}
article h3 + p {
  margin-top: 8px;
}
article details summary {
  cursor: pointer;
  margin-top: 12px;
  outline: none;
  padding-left: 18px;
  text-indent: -18px;
  font-weight: bold;
}
article details summary + p {
  margin-top: 5px;
}
article details summary ~ p {
  margin-left: 18px;
}
article details *:last-child {
  margin-bottom: 20px;
}

.featured {
  width: 100%;
  max-width: 1600px;
  margin: 1em auto;
  overflow: hidden;
  background: #eee;
}
@media (min-width: 1024px) {
  .featured {
    padding-bottom: 0;
    height: 432px;
  }
}
@media (min-width: 1280px) {
  .featured {
    height: 500px;
  }
}
.featured img {
  width: 108%;
  vertical-align: top;
}
@media (min-width: 1024px) {
  .featured img {
    margin-top: -10%;
  }
}
@media (min-width: 1280px) {
  .featured img {
    margin-top: -15%;
  }
}
@media (min-width: 1600px) {
  .featured img {
    margin-top: -20%;
  }
}
.ueber-mich .featured {
  text-align: right;
}
.ueber-mich .featured img {
  margin-right: -24%;
  width: 100%;
  margin-top: 15px;
}
@media (min-width: 1024px) {
  .ueber-mich .featured img {
    margin-right: -15%;
    height: 100%;
    width: auto;
  }
}

header {
  margin: 10px 10px 25px;
  overflow: auto;
}
@media (min-width: 768px) {
  header {
    background: rgba(255, 255, 255, 0.85);
    margin: 75px 0 0;
    padding: 20px 30px 40px 20px;
    position: absolute;
    z-index: 100;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .ueber-mich header {
    width: 55%;
  }
}
@media (min-width: 1280px) {
  header {
    margin-top: 100px;
  }
}
@media (min-width: 1600px) {
  header {
    margin-left: calc((100% - 1600px) / 2);
  }
}
header p {
  font-size: 1.4em;
  line-height: 1em;
  margin-bottom: 0.1em;
  font-weight: bold;
  margin-top: 0.5em;
}
@media (min-width: 768px) {
  header p {
    font-size: 1.6em;
  }
}
header p span {
  display: block;
  font-size: 0.7em;
  margin-bottom: 0.1em;
}
@media (min-width: 768px) {
  header p span {
    font-size: 0.6em;
    margin-bottom: 0;
  }
}
header h1 {
  margin: 0;
  font-size: 0.85em;
  line-height: 1.25em;
  color: #000;
  font-weight: normal;
}
@media (min-width: 768px) {
  header h1 {
    font-size: 1em;
  }
  header h1 span {
    display: inline;
    font-size: 0;
  }
  header h1 span:before {
    content: "|";
    color: #999;
    vertical-align: 1px;
    font-size: 18px;
  }
}

nav {
  font-size: 0.9em;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow-y: auto;
}
@media (min-width: 768px) {
  nav {
    position: static;
    text-align: right;
    font-size: 1em;
    display: block;
    margin-right: 20px;
    padding: 10px 0 50px;
    width: auto;
  }
}
@media (min-width: 1064px) {
  nav {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}
nav ul {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  nav ul {
    float: right;
  }
}
nav ul li {
  list-style: none;
  margin-bottom: 0;
  cursor: default;
  text-decoration: none;
}
@media (min-width: 768px) {
  nav ul li {
    color: #000;
    text-decoration: none;
    cursor: default;
    float: left;
    margin-left: 20px;
  }
}
nav ul li span {
  font-weight: bold;
  background: #ccc;
}
@media (min-width: 768px) {
  nav ul li span {
    background: none;
  }
}
nav ul li a, nav ul li span {
  padding: 13px 10px 13px 15px;
  display: block;
  font-size: 1.1em;
  border-bottom: solid 1px #aaa;
}
@media (min-width: 768px) {
  nav ul li a, nav ul li span {
    padding: 15px 0;
    border: none;
  }
}
nav ul li a {
  color: #666;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  nav ul li a:hover {
    background: none;
    color: #000;
  }
}
nav ul li a:link, nav ul li a:visited {
  color: #666;
}

footer {
  padding: 0 10px 20px;
  font-size: 0.8em;
  color: #666;
}
@media (min-width: 768px) {
  footer {
    border-top: solid 1px #ccc;
    padding: 15px 20px;
  }
}
footer a {
  text-decoration: underline;
  margin-right: 10px;
}
footer a:link, footer a:visited {
  color: #666;
}
footer span {
  display: block;
  margin-top: 10px;
}
@media (min-width: 768px) {
  footer span {
    float: right;
    margin: 0;
  }
}