.accordion {
  border-bottom: solid 1px #ccc;

  &:last-of-type {
    border-bottom: 0;
  }

  :is(summary) {
    cursor: pointer;
    padding: 0.5em 0;
    font-weight: 500;
	font-size: 18px;
    line-height: 22px;
    list-style-type: none;
    color: var(--blue);
    padding-left: 25px;
    text-indent: -25px;

    &::-webkit-details-marker {
      display: none;
    }

    > * {
      display: inline; /* so that block level elements don't wrap below marker when there is not enough space */
      margin: 0;
    }

    &::before {
      content: "";
      background: url(../../img/down.svg) no-repeat;
      background-size: 18px;
      background-position: center;
      width: 18px;
      height: 18px;
      display: inline-block;
      vertical-align: -2px;
      margin-right: 5px;
      transition: all 0.25s;
    }
  }

  &[open] summary::before {
    transform: rotate(180deg);
  }

  :is(.accordion__content) {
    padding-bottom: 1em;

    > *:first-child {
      margin-top: 0;
    }
  }
}
