footer {
	padding: 0 10px 30px;
	font-size: 0.9em;
	color: var(--grey-dark);

	@media (min-width: 768px) {
		border-top: solid 1px #ccc;
		padding: 15px 20px;
	}

	@media (min-width: 1240px) {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		padding: 15px 0 25px;
	}

	a {
		text-decoration: underline;
		margin-right: 15px;

		&:link,
		&:visited {
			color: var(--blue);
		}
	}

	span {
		display: block;
		margin-top: 10px;

		@media (min-width: 768px) {
			float: right;
			margin: 0;
		}
	}
}
